<h1>Locação de:  <%= @rental.client.name %></h1>
<h3>Status: <%= t(@rental.status) %></h3>
<p><%= @rental.reservation_code %></p>
<p><%= Client.human_attribute_name('email') %>: <%= @rental.client.email %></p>
<p>CPF/CNPJ: <%= @rental.client.cpf %></p>
<p><%= Rental.human_attribute_name('start_date') %>: <%= l @rental.start_date, format: :long %>
<p><%= Rental.human_attribute_name('end_date') %>: <%= l @rental.end_date, format: :long  %>
<p><%= Rental.human_attribute_name('subsidiary') %>: <%= @rental.subsidiary.name %>
<p><%= Rental.human_attribute_name('category') %>: <%= @rental.category.name  %>
<p><%= Rental.human_attribute_name('price_projection') %>: <%= number_to_currency(@rental.price_projection) %>
<%= form_with model: @rental, url: confirm_rental_path, method: :post, id: 'item_form' do |f| %>
  <%= f.fields_for :rental_items do |items_form| %>
    <%= items_form.radio_button :car_id, items_form.object.car.id %>
    <%= items_form.label :car_id, items_form.object.car.license_plate, value: items_form.object.car.id %>
  <% end  %>
  <%= f.submit 'Iniciar locação' %>
<% end %>
