<h1>Locação de:  <%= @rental.client.name %></h1>
<%= flash[:alert] %>
<h3>Status: <%= t(@rental.status) %></h3>
<p><%= Rental.human_attribute_name('reservation_code') %>: <%= @rental.reservation_code %></p>
<p><%= Client.human_attribute_name('email') %>: <%= @rental.client.email %></p>
<p>CPF/CNPJ: <%= @rental.client.cpf %></p>
<p><%= Rental.human_attribute_name('start_date') %>: <%= l @rental.start_date, format: :long %>
<p><%= Rental.human_attribute_name('end_date') %>: <%= l @rental.end_date, format: :long  %>
<p><%= Rental.human_attribute_name('subsidiary') %>: <%= @rental.subsidiary.name %>
<p><%= Rental.human_attribute_name('category') %>: <%= @rental.category.name  %>
<p><%= Rental.human_attribute_name('price_projection') %>: <%= number_to_currency(@rental.price_projection) %>
<ul>
<%= form_with url: confirm_rental_path, method: :post, data: { remote: false } do |f| %>
  <h3>Carros</h3>
  <%= f.collection_radio_buttons(:car_id, @cars, :id, :license_plate) do |r| %>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= r.text  %></h5>
        <p class="card-text"></p>
        <%= r.label{ r.radio_button}  %>
      </div>
    </div>
       
  <% end %>
  <h3>Acessórios</h3>
  <%= f.collection_check_boxes :addon_ids, @addons, :id, :name, include_hidden: false %>
  <%= f.submit 'Iniciar locação' %>
<% end %>
</ul>
